BSC_RPC_URL=https://bsc-dataseed.binance.org/
PRIVATE_KEY=your_wallet_private_key_without_0x
INITIAL_HOLDER=0x5D8b4DEeDE9cC751ac792B8B367deeff2fE1f7E1
INITIAL_OWNER=0x5D8b4DEeDE9cC751ac792B8B367deeff2fE1f7E1
BSCSCAN_API_KEY=your_bscscan_api_key
